.container{
    display:grid;
    grid-template-areas: "header header header header"
                           "navbar navbar navbar navbar"
                          "main  main main   sidebar"
                          "footer  footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
                                                     
}
.header{
grid-area: header;
background-color:green;
}
.navbar{
grid-area: navbar;
background-color: aqua;
}
.main{
grid-area: main;
background-color: brown;
}
.sidebar{
    grid-area: sidebar;
    background-color: aquamarine;
}
.footer{
grid-area: footer;
background-color: yellow;
}

.butao{

     background-color: burlywood;
     border-radius: 30px;

}